<div class="inpu">
    <form method="GET" action="https://gurpreetstodolistingapp.onrender.com/Todo">
        <input name="task" type="text" placeholder="enter task">
        <input type="submit" value="Add">
        <input type="button" value="Reset">
    </form>
</div>