<div class="taskk">
    <% for(var i=0;i<=tasks.length-1;i++){ %>
        <form method="GET" action="https://gurpreets-todo-app.netlify.app/Todo" onsubmit="return remov('<%=i+1%>')">
        <div id="<%=i+1%>" class="tsk">
        <input type="text" name="tass" value="<%=tasks[i]%>" readonly>
        <button type="submit">x</button>
        </div>
        </form>
    <% } %>
</div>
<script>
    function remov(idd){
        document.getElementById(idd).parentNode.removeChild();
        return true;
    }
</script>